@import "../variables/colors";

.btn {
    padding: 20px 40px;
    background-color: transparent ;
    color: $text;
    border: 1px solid $text;
    font-family: Graphik;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.2px;

    box-shadow: 0px 4px 31px 0px #00000026;

}

